<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/index.css">
</head>
<body>

    <!-- Information -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xxl-7">
                <div class="row text-center container-bg">
                    <div class="col-12">
                        <h1 class="title-info"><%= title %></h1>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="responsive-layar">
                            <% if (geolocation.country === "ID") { %>
                                <p>Sehubungan dengan terkait program Rest API <strong>cloudsmart.my.id</strong> di tunda sementara pada tanggal <b>18 Agustus 2023</b> dikarenakan ada masalah <b>Anggaran Biaya</b> untuk menjalankan program Cloudsmart API tersebut, jika ingin memulihkan kembali, kami sangat ingin membutukan waktu untuk memulihkan kembali atau serta juga membutukan donasi, silahkan klik link donasi <a href="https://saweria.co/cakrayp"><b>Di sini</b></a>, terimakasih.</p>
                            <% } else { %>
                                <p>In connection with the Rest API program <strong>cloudsmart.my.id</strong> was temporarily postponed on <b>18 August 2023</b> due to problems with the <b>Budget Cost</b> to run the Cloudsmart API program If you want to recover, we really need time to recover or also need donations, please click the donation link <a href="https://saweria.co/cakrayp"><b>Here</b> </a>, thank you.</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="powered-footer">
        <span>© Powered by <a href="https://github.com/cakrayp">"Cakra Yudha Pratama"</a></span>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>